[run]
source = terno
omit =
    terno/migrations/*
    terno/admin.py
    terno/views.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    def __str__
    pass
    raise NotImplementedError
