@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  position: fixed;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
}